asn1crypto==0.24.0
astroid==2.4.2
blinker==1.4
certifi==2018.11.29
cffi==1.12.3
chardet==3.0.4
Click==7.0
cryptography==2.7
feedparser==5.2.1
Flask==1.0.2
Flask-Cors==3.0.8
Flask-Mail==0.9.1
Flask-SocketIO==4.2.1
flask-talisman==0.7.0
future==0.17.1
gevent==1.4.0
greenlet==0.4.15
gunicorn==19.9.0
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.10
lazy-object-proxy==1.4.3
MarkupSafe==1.1.0
mccabe==0.6.1
pycparser==2.19
PyJWT==1.7.1
pylint==2.5.3
PyMySQL==0.9.3
pyOpenSSL==19.0.0
PySocks==1.7.0
python-dotenv==0.13.0
python-engineio==3.9.3
python-socketio==4.3.1
pytz==2019.1
redis==3.3.7
requests==2.21.0
six==1.12.0
toml==0.10.1
twilio==6.29.1
typed-ast==1.4.1
urllib3==1.24.1
Werkzeug==0.14.1
wrapt==1.12.1
WTForms==2.2.1
xmltodict==0.11.0
